body {
    background-color: white;
    overflow: hidden;
}

.site {
display: flex;
justify-content: center;
flex-direction: column;
}

h1 {
    font-size: 5vw;
    display: flex;
    font-family: "Roboto Mono";
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.Links {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin-top: 10vh;
}

img {
    width: 15vw;
    padding: 5vw;
    transition: opacity 0.5s;
}

img:hover {
    opacity: 0.7;
}