body {
    background-color: white;
}

.site {
display: flex;
justify-content: center;
flex-direction: column;
}

h1 {
    display: flex;
    font-family: "Roboto Mono";
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.Links {
    display: flex;
    justify-content: space-around;
    align-self: center  ;
    width: 500px;
    margin-top: 10%;
}

img {
    width: 100px;
}